################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Battleship/.vs/Battleship/v16/ipch/AutoPCH/d44ab2ce9acf2f6/GAME.ipch
/.vs
/Battleship/.vs/Battleship/v16
/Battleship/Battleship/Debug/vc142.pdb
/Battleship/Battleship/Debug/vc142.idb
/Battleship/Battleship/Debug/Game.obj
/Battleship/Battleship/Debug/Battleship.tlog
/Battleship/Battleship/Debug/Battleship.obj
/Battleship/Battleship/Debug/Battleship.log
/Battleship/Debug
